nav {
    background-color: #111111;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.2), 0 2px 4px -1px rgba(255, 255, 255, 0.1);
}

.nav_item {
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
}

.nav_links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.shop_link {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 20px; 
    text-decoration: none;
}

.shop_link:hover {
    color: #2563eb; 
}

.auth_link {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px; 
    transition: color 0.3s ease-in-out;
}

.auth_link:hover {
    color: #2563eb; 
}

.auth_link:active {
    color: #2547a7; 
}

.user_account {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.user_image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 1rem;
    color: white;
    font-weight: bold;
    white-space: nowrap;         
    overflow: hidden;            
    text-overflow: ellipsis;     
    max-width: 150px;            
}

/* Initially hide dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    z-index: 100;
}

.dropdown_item {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.dropdown_item:hover {
    background-color: #2563eb;
}

.show-dropdown .dropdown_menu {
    display: block;
}


.cart_btn {
    padding: 5px 10px;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.cart_btn:hover {
    background-color: #2547a7;
}




body {
    background-color: #111111;
    color: white;
}

