{% extends 'maintainer/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'maintainer/css/product_list.css' %}">
{% endblock %}

{% block title %}
Product List
{% endblock %}

{% block content %}

<div class="product-list-container">

    <h2>Product List</h2>

    <div class="add-product-button">
        <a href="{% url 'add_product' %}" class="btn btn-primary">&plus; Add New Product</a>
    </div>

    <div class="tabs">
        <button class="tab-button active" onclick="showTab('in-stock')">In Stock</button>
        <button class="tab-button" onclick="showTab('out-of-stock')">Out of Stock</button>
    </div>
    <div id="in-stock" class="tab-content active">
        {% if in_stock_products %}
        <div class="product-grid">
            {% for product in in_stock_products %}
            <div class="product-card">
                <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}">
                <h3 title="{{ product.product_name }}">{{ product.product_name }}</h3>
                <p>{{ product.category.name }}</p>
                <p>Price: ₹{{ product.price }}</p>
                <p title="{{ product.brand }}">Brand: {{ product.brand }}</p>
                <div class="product-actions">
                    <a href="{% url 'edit_product' product.id %}" class="btn btn-secondary">Edit</a>
                    <button class="btn btn-danger delete-button" data-product-id="{{ product.id }}">Delete</button>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No products in stock.</p>
        {% endif %}
    </div>
    <div id="out-of-stock" class="tab-content">
        {% if out_of_stock_products %}
        <div class="product-grid">
            {% for product in out_of_stock_products %}
            <div class="product-card">
                <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}">
                <h3 title="{{ product.product_name }}">{{ product.product_name }}</h3>
                <p>{{ product.category.name }}</p>
                <p>Price: ₹{{ product.price }}</p>
                <p title="{{ product.brand }}">Brand: {{ product.brand }}</p>
                <div class="product-actions">
                    <a href="{% url 'edit_product' product.id %}" class="btn btn-secondary">Edit</a>
                    <button class="btn btn-danger delete-button" data-product-id="{{ product.id }}">Delete</button>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No products out of stock.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script defer src="{% static 'maintainer/js/product_list.js'%}"></script>
{% endblock %}

